---
layout: default
title: xtensor blog
---

<h2>"How we wrote xtensor" blog-post series</h2>

<p>
  This blog-post series will drive you through the process of writing xtensor, and will help you understand it more so that you can contribute!
</p>

<ul>
  <li><a href="https://medium.com/@johan.mabille/how-we-wrote-xtensor-1-n-n-dimensional-containers-f79f9f4966a7">2019-06-17: N-Dimensional Containers</a></li>
  <li><a href="https://medium.com/@johan.mabille/how-we-wrote-xtensor-2-n-access-operators-57e8e3852263">2019-06-20: Access Operators</a></li>
  <li><a href="https://medium.com/@johan.mabille/how-we-wrote-xtensor-3-n-the-constructors-65a177260638">2019-06-24: Constructors</a></li>
  <li><a href="https://medium.com/@johan.mabille/how-we-wrote-xtensor-4-n-value-semantics-6baa6856d313">2019-07-16: Value Semantics</a></li>
  <li><a href="https://medium.com/@johan.mabille/how-we-wrote-xtensor-5-n-expression-templates-d07332e73d1d">2019-09-05: Expression Templates</a></li>
  <li><a href="https://medium.com/@johan.mabille/how-we-wrote-xtensor-6-n-operator-overloading-984c2e5b4171">2019-09-25: Operator Overloading</a></li>
  <li><a href="https://medium.com/@johan.mabille/how-we-wrote-xtensor-7-n-broadcasting-cf37a974d029">2019-11-24: Broadcasting</a></li>
  <li><a href="https://medium.com/@johan.mabille/how-we-wrote-xtensor-8-n-iterators-7df77e3223f7">2020-01-07: Iterators</a></li>
</ul>

<h2>xframe</h2>

<ul>
  <li><a href="https://medium.com/@johan.mabille/xframe-towards-a-c-dataframe-26e1ccde211b">2019-01-04: Towards a C++ dataframe</a></li>
</ul>

<h2>Language bindings for xtensor</h2>

<ul>
  <li><a href="https://medium.com/@johan.mabille/designing-language-bindings-with-xtensor-f32aa0f20db">2018-11-30: Designing language bindings with xtensor</a></li>
</ul>

<h2>The xtensor vision</h2>

<ul>
  <li><a href="https://towardsdatascience.com/the-xtensor-vision-552dd978e9ad">2018-11-10: The xtensor vision</a></li>
</ul>

<h2>The Julia challenge</h2>

<ul>
  <li><a href="https://medium.com/@wolfv/the-julia-challenge-in-c-21272d36c002">2018-10-12: The Julia challenge in C++</a></li>
  <li><a href="https://medium.com/@QuantStack/xtensor-c-and-the-julia-challenge-643d4b119761">2018-10-24: xtensor, C++, and the Julia Challenge</a></li>
</ul>

<h2>Speeding up xtensor</h2>

<ul>
  <li><a href="https://medium.com/@wolfv/fast-reductions-in-xtensor-with-simd-212a8543960a">2018-02-18: Fast reductions in xtensor with xsimd</a></li>
  <li><a href="https://medium.com/@wolfv/faster-xtensor-87fcbe7f5293">2018-02-18: Faster xtensor!</a></li>
</ul>

<h2>xsimd</h2>

<ul>
  <li><a href="https://serge-sans-paille.github.io/pythran-stories/bye-bye-boostsimd-welcome-xsimd.html">2018-10-31: Bye bye boost.simd, welcome xsimd</a></li>
  <li><a href="https://johanmabille.github.io/blog/2014/10/09/writing-c-plus-plus-wrappers-for-simd-intrinsics-1/">2014-10-09: Writing C++ wrappers for SIMD intrinsics blog-post series</a></li>
</ul>

<h2>xtensor</h2>

<ul>
   <li><a href="https://medium.com/@SylvainCorlay/scientific-computing-in-a-polyglot-world-with-xtensor-d81ff3865d6">2017-05-30: Scientific computing in a polyglot world with xtensor</a></li>
</ul>

<h2>xtensor-zarr</h2>

<ul>
   <li><a href="https://david-brochart.medium.com/xtensor-%EF%B8%8F-zarr-4f5cf25c65e5">Xtensor ❤️  Zarr</a></li>
</ul>
