<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>xtensor Team Compass</title>
    <style>
    .xtensor-white {
        background: white;
        color: #222;
        padding: 20px;
     }
    .xtensor-black {
        background: #161628;
        color: white;
        padding: 20px;
    }
    </style>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <div class="content-fluid xtensor-black">
      <div class="container">
         <div>
           <img src="/xtensor-logo.svg" style="display: block; margin: 40px auto 40px auto; max-width: 400px;"/>
           <h4 style="text-align: center">{{ page.title }}</h4>
         </div>
      </div>
    </div>
    <div class="content-fluid xtensor-white">
      <div class="container">
        {{ content }}
      </div>
    </div>
    <div class="content-fluid xtensor-black">
      <div class="container">
      </div>
    </div>
  </body>
</html>
