---
layout: default
title: xtensor project
---

<p>This website contains team meetings notes and schedule with the xtensor community. It also contains links to blog-posts on projects on the xtensor stack.</p>

<h2>xtensor stack</h2>

{% for cards in site.data.cards %}
<div class="row mb-3 mt-3">
  {% for card in cards %}
  <div class="col-sm-6">
    <div id="{{ card.name }}" class="card xtensor-card">
      <div class="img-container">
        <img src="/{{ card.name }}.svg" class="card-logo">
      </div>
      <div class="card-body">
        <p class="card-text">{{ card.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}

<script type="text/javascript">
  window.onload = function() {
    var cardLogos = document.querySelectorAll('.card-logo');

    for(var idx = 0; idx < cardLogos.length; idx++) {
      cardLogos[idx].style.display = 'inline-block';
      cardLogos[idx].height = 0.3 * cardLogos[idx].naturalHeight;
    }

    var cards = document.querySelectorAll('.xtensor-card');
    for(var idx = 0; idx < cards.length; idx++) {
      var elt = cards[idx];
      elt.onclick = function(elt) {
        return function(event) {
          window.open('https://github.com/xtensor-stack/' + elt.id);
        };
      }(elt);
    }
  }
</script>
